
VideoView {
    area: l80 t0 r0 b0;
    fill-color: #00f;
    sample:22;
}

Annotate {
    area: l0 t0 r0 b0;
}

Navigator {
    area: l0 t0 w80 b0;
    fill-color: #ff0;
}

Button {
    area: l20 t20 r-20 h40;
}