Annotate {
    area: l0 t0 r0 b0;
}

VideoViewer {
    area: l0.5 t0 r0 b-64;
    fill-color: #111;
}

Seekbar {
    area: l0.5 b-63 r0 b0;
    font: 8 RobotoMono-Regular;
}

Ribbon {
    fill-color:   #224;
    area:           r-220 t0 r0 b0;
    outline-color:#fff2;
    outline-sz:     1;
    outline-area:   l0.5 t-1 r1 b1;
}

Ribbon / Button {
    fill-color:  #008;
    area:          l0 t0+ r0 h40;
    text-color:  #fff;
    text-align:    middle middle;
    count-height:  false;
    font:          11 RobotoMono-Regular;
}

Ribbon / Button:selected {
    fill-color:  #4af, 500ms quad;
}

Ribbon / Page {
    fill-color:   #444;
    area:           l0 t0+ r0 h0%, 200ms quad;
}

Ribbon / Page:selected {
    fill-color:   #444;
    area:           l0 t0+ r0 h100%, 200ms quad;
}

Content {
    fill-color:  #444;
    area:          l80.5 0 r-220 b0;
}

Annotate:record / Content {
    fill-color: #0000;
}

Navigator {
    area: l0 t81 w79.5 b0;
    fill-color: #24a5;
}

MainMenu {
    fill-color:   #82a4;
    area:         l0 t0 w79 h73;
    outline-sz:   0;
    outline-color: #000;
}

Button.play-pause {
    area:           l5 t14 w24 b0;
    image-src:      "images/play2.svg";
}

Button.play-pause:value {
    image-src:      "images/pause2.svg";
}

Button {
    image-align:    0.5 0.5;
    image-area:     80%, 200ms quad;
}

Button:hover {
    image-area:     100%, 200ms quad;
}

Button:active {
    image-area:     60%, 100ms quad;
    opacity:        0.5, 250ms;
}

Navigator / Button {
    fill-radius:    12;
    fill-color:    #0004;
    text-color:    #fff;
    text-align:     middle middle, 200ms back out;
    image-align:    0.5 0.5;
    outline-sz:     2;
    outline-color: #fff4;
    outline-radius: 12;
    area:           l10 t16+ r-10 h64;
}

Navigator / Button:value {
    fill-color:#ff02, 200ms quad;
}

Button.annotate {
    image-src:    "images/annotate.svg";
}

Button.record {
    image-src:    "images/record.svg";
}

Button.cursor_config {
    image-src:    "images/rubiks.svg";
}

Button.main-menu {
    image-area:   100%, 200ms quad out;
    image-src:    "images/menu.svg";
    fill-color:   #fff0;
}

Button.main-menu:hover {
    image-area:   115%, 200ms quad out;
}

Button.main-menu:active {
    image-area:   90%, 200ms quad in;
}

Edit {
    fill-color:    #2af, 2400ms quad;
    fill-radius:     22, 2400ms quad;
    text-align:      0.0 0.0;
    text-color:    #fff;
    editable:        true;
    multiline:       true;
    tab-index:       0;
    sel-color:       #428;
    sel-background:  #fff;
}

Edit:focus {
    fill-color: #ffff, 200ms quad;
}


